body {
    width: auto;
    margin: 23px;
    resize: horizontal;
    background-image: url("bg.jpg")
}

.container {
    background-color: white;
}

hr {
    height: 4px;
    border-color: coral;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}

.graphics-container h2 {
    margin-left: 15px;
}

.list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.list-container .list-item {
    width: 170px;    
    margin: 10px;
    border-radius: 5px;
}

.modal-header {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    background-color: #0a5726;
    color: white;
}

.close{
    color: black ;
}

